/**
 * reset.less
 */
html,
body,
div,
span,
dl,
dt,
dd,
ul,
ol,
li,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
button,
p,
a,
blockquote,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
html {
  background: #fff;
  color: #000;
  font: 12px/1 "microsoft yahei", Arial, sonti, Verdana, Geneva, Helvetica, sans-serif;
}
body {
  font-size: 100%;
  font-family: inherit;
}
ol,
ul {
  list-style: none;
  list-style-position: outside;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
strong {
  font-weight: bold;
}
caption,
th {
  text-align: left;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /*to enable resizing for IE*/
  *font-size: 100%;
}
textarea {
  resize: none;
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
.fl {
  float: left;
}
.cb {
  clear: both;
}
.hide {
  display: none;
}
.vbh {
  visibility: hidden;
}
a,
a:visited,
a:active,
a:link,
a:hover {
  text-decoration: none;
}
a {
  color: #929292;
}
a.current,
a:hover {
  color: #ffffff;
}
.no-repeat {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.layout-2 .left,
.layout-2 .right {
  width: 50%;
}
.layout-2 .left {
  float: left;
}
.layout-2 .right {
  float: right;
}
.layout-2-left .left {
  float: left;
  width: 27.5em;
  margin-right: 5.83333333em;
}
.layout-2-right .right {
  float: right;
  width: 27.5em;
  margin-left: 5.83333333em;
}
.split-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background: #eaeaea;
}
html,
body {
  height: 100%;
  width: 100%;
  text-align: center;
}
.main {
  width: 100%;
}
.main-content {
  height: 100%;
  width: 100em;
  margin: 0 auto;
}
.head {
  background-color: #13131e;
  height: 5.83333333em;
  line-height: 5.66666667em;
  text-align: right;
}
.head .company {
  float: left;
  margin-left: 6.16666667em;
  height: 100%;
  width: 12.66666667em;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-size: 100% auto;
}
.head .head-nav {
  padding-right: 16.66666667em;
}
.head .head-nav a {
  margin-left: 2.3em;
  font-size: 125%;
}
.foot {
  background-color: #13131e;
  padding: 1.66666667em 0;
}
.foot p {
  margin-bottom: 1.66666667em;
}
.foot p:last-child {
  margin-bottom: 0;
}
.foot p a {
  font-size: 133.33333333%;
  margin-right: 2em;
}
.foot p a:last-child {
  margin-right: 0;
}
